<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<style type="text/css">

SetList:before {
  display: block;
  width: 8em;
  font-weight: bold;
  font-size: 200%;
  content: "Oceans";
  margin: -.75em 0px .25em -.25em;
  padding: .1em .25em;
  background-color: #cdf;
  }

Song {
  display: block;
  background-color: pink;
}

</style>
</head>
