<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>
<style type="text/css">

Song {
  display: block;
  background-color: #C9FFC2;
  padding: 1em;
  border: .3em solid #FDE1FF;
  margin-bottom: 1em;
}

Artists:before {
  content: "Artist: ";
  font-weight: bold;
}

Artists {
  display: block;
}

Artists Feature:before {
  content: "Feat. ";
}

Title:before {
  content: "Title: ";
  font-weight: bold;
}

Title {
  display: block;
}

Genre:before {
  content: "Genre: ";
  font-weight: bold;
}

Genre {
  display: block;
}

Genre Secondary:before {
  content: ", "
}

Year:before {
  content: "Year Released: ";
  font-weight: bold;
}

Year {
  display: block;
}

</style>
</head>
